body {
    background-image: url("bg_page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #A8C4D8;
}

.name{
    align-items: center;
    width: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
}
.name :hover{
    color: lightskyblue;
}
